Repository voxpupuli/puppet-os_patching, pull requests merged in 2019-08, with the labels that each got.

#151 #149 allow Debian to run `apt-get autoremove` at reboot
  manifests/init.pp
Labels: enhancement

#154 #148 ensure versionlock file is there before we read it
  files/os_patching_fact_generation.sh
Labels: bug

#153 Prevent error message to stderr on RedHat
  files/os_patching_fact_generation.sh
Labels: bug, bugfix
