Repository voxpupuli/puppet-os_patching, pull requests merged in 2021-05, with the labels that each got.

#188 expand filter inline and remove $FILTER variables
  files/os_patching_fact_generation.sh
Labels: bug, pending testing

#197 Feature/174 windows update param
  REFERENCE.md
  manifests/init.pp
Labels: enhancement

#199 Feature/module hiera
  .gitignore
  REFERENCE.md
  data/common.yaml
  data/kernel/Linux.yaml
  data/kernel/windows.yaml
  data/os/Debian.yaml
  data/os/RedHat.yaml
  hiera.yaml
  manifests/init.pp
  spec/classes/os_patching_spec.rb
  spec/fixtures/hiera.yaml
  spec/fixtures/hieradata/Linux.yaml
  spec/fixtures/hieradata/default.yaml
  spec/fixtures/hieradata/windows.yaml
  spec/spec_helper.rb
Labels: enhancement

#201 Feature/200 deltarpm
  manifests/init.pp
  spec/classes/os_patching_spec.rb
Labels: enhancement, pending testing

#156 Add FreeBSD support
  data/common.yaml
  data/kernel/Linux.yaml
  data/kernel/windows.yaml
  data/os/FreeBSD.yaml
  files/os_patching_fact_generation.sh
  lib/facter/os_patching.rb
  manifests/init.pp
  metadata.json
  spec/classes/os_patching_spec.rb
Labels: enhancement, question

#203 ensure that key exists while parsing json
  files/os_patching_fact_generation.sh
Labels: bug
